*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

header{
    background-color: #FFF8F3;
    background: url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
.logo h2{
    font-size: 45px;
    font-weight:900;
    
}
.color-orange{
    color:#FD6E0A;
}
nav{
    width: 90%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
     color: #474747;
        text-decoration: none;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 32px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    ;

}
#banner{
    margin: 47px 38px 0 230px;
    display :flex ;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
    /* border: 1px solid red; */
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight:600;
    color: #474747;
    margin-bottom: 5px;
   
}
#banner .banner-content h1{

    font-size: 75px;
    font-weight:bold;
    color:#181818;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 20px;
}
#banner .banner-image img{
    max-width: 580px;
    vertical-align: middle;
}
#about ,#skills{
    padding-top: 130px;
   
}
.section-heading h2{
    margin-bottom: 30px;
    font-size: 36px;
    color: #181818;

}
    
 #about .about-container{
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 131px 156px;
    background-color: #FFF8F3;

 } 
  #about .about-container .about-info {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}
.about-container p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
}
#skills .section-heading{
    width: 827px;
    text-align: center;
    margin: 0 auto;
  
}
#skills .section-heading p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
}
#card{
    padding: 30px;
    

  
}
.card-container{
   padding-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.card-container .card-item{
    /* Rectangle 5 */
width: 267px;
height: 377px;
    box-shadow: 0 6px 50px 0 #00000011;
border-radius: 10px;
    
    
}

.card-container .card-item p{
    padding-top: 30px;
    width: 204px;
    height: 243px;
    margin: auto;
}
.card-container h3{
    font-size: 24px;
    color: #181818;
    margin-top: 20px;
    text-align: center;
    
}
.card-container .card-item img{
    padding: 30px 30px 0 30px;
}

